# Dependencies
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log

# Version control
.git
.gitignore

# Docker files
.dockerignore
Dockerfile

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output

# Только некоторые документы (но не всё содержимое build)
README.md
LICENSE 